body {
    font-family: 'Josefin Sans', sans-serif !important;
}

.page-content {
    font-size: 18px;
}

a:visited {
    color: $link-base-color;
}

a:hover {
    color: $link-hover-color;
    text-decoration: underline;
}

.site-header {
    font-size: 16px;
    padding-top: 5px;
}

.site-header a:hover {
    text-decoration: none;
    color: $link-base-color;
}

.site-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.flash .octicon {
    margin-bottom: 3px;
}

.vg-tooltip table {
    margin-bottom: 0;
}

.vg-tooltip table td {
    border: none;
}

.vg-tooltip table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0);
}

.vg-tooltip table th,
.vg-tooltip table td {
    padding: 0;
}

#vg-tooltip-element table {
    color: black;
}
